

{% extends 'base/base.html' %}

{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">            
        <h1 class="h2">Marcar Asistencia para {{clase.fecha}}</h1>                       
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Apellido</th>
						<th scope="col">Nombre</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					
					{% for u in usuarios %}

						<tr>
							<td>{{u.last_name}}</td>
							<td>{{u.first_name}}</td>
							<td>
								
								{% if u.id in presentes %}
									<button type="button" class="btn btn-danger">Quitar Presente</button>

								{% else %}
									<a href="{% url 'asistencias:crear_asistencia' clase.id u.id %}" class="btn btn-success">Marcar Presente</a>
								{% endif %}
									
								
                                
							</td>
						</tr>
					{% endfor %}
					
				</tbody>

			</table>
        </div>
    </div>
{% endblock contenido %}