{% extends 'base/base.html' %}


{% block css_extras %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock css_extras %}
    

{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">            
        <h1 class="h2">Nueva materia</h1>                       
    </div>

    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
        
       
            
        {{form.errors}}

        {{form.as_p}}

        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg" type="submit">GUARDAR</button>


    </form>
{% endblock contenido %}



{% block js_extras %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $('#id_categorias').select2({
            width: '100%',
        });
    </script>
{% endblock js_extras %}
    