{% extends 'base/base.html' %}

{% block contenido %}

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                          
    <h1 class="h2">LISTA DE USUARIOS</h1>                  
                    
  </div>

  <table>
      <thead>
        <tr>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>NOMBRE DE USUARIO</th>
        </tr>
      </thead>
      <tbody>
          {% for usuario in usuarios %}
                  <tr>
                      <td>{{usuario.first_name}}</td>
                      <td>{{usuario.last_name}}</td>
                      <td>{{usuario.username}}</td>
                  </tr>

            
          {% endfor %}
      </tbody>
    </table>
{% endblock contenido %}