{% extends 'base/base.html' %}

{% block contenido %}

	<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
													
		<h1 class="h2">LISTA DE USUARIOS</h1>                  
										
	</div>

	<div class="row">

		<div class="col">
			<a href="{% url 'clases:crear' %}" class="btn btn-primary">Nuevo usuario</a>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th scope="col">NOMBRE</th>
						<th scope="col">APELLIDO</th>
						<th>NOMBRE DE USUARIO</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					
					{% for usuario in usuarios %}
						
					
						
						<tr>
							<td>{{usuario.id}}</td>
							<td>{{usuario.first_name}}</td>
							<td>{{usuario.last_name}}</td>
							<td>{{usuario.username}}</td>
							<td>
								<a href="" class="btn btn-primary btn-sm">EDITAR</a>
							</td>
						</tr>
					{% empty %}
					<tr>
						<td colspan="5"><h5>No existen registros...</h5></td>
					</tr>
					{% endfor %}
					
				</tbody>

			</table>
		</div>
	</div>
{% endblock contenido %}